footer{
    margin-bottom: 2rem;
}
.footer__content{
    display: flex;
    justify-content: center;
}
.footer__img{
    flex: 0 0 45%;
}
.footer__text{
    flex: 0 0 45%;
    padding: 1.5rem 0 0 3rem;
    line-height: 3.5rem;
    font-size: 40px;
    font-weight: 700;
}
.footer__copyright{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.footer__autor{
    color: var(--color-gray);
}